{% extends 'base.html.twig' %}

{% block title %}Exhibit Player{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('player') }}
{% endblock %}

{% block body %}
<h1>Exhibit player</h1>


{% endblock %}


